<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ValidFilter</filter-name>
        <filter-class>filter.ValidFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ValidFilter</filter-name>
        <servlet-name>UpdateItemServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadItemServlet</servlet-name>
        <servlet-class>controller.LoadItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditItemServlet</servlet-name>
        <servlet-class>controller.EditItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItemServlet</servlet-name>
        <servlet-class>controller.UpdateItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCategoryServlet</servlet-name>
        <servlet-class>controller.LoadCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemServlet</servlet-name>
        <servlet-class>controller.DeleteItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateItemServlet</servlet-name>
        <servlet-class>controller.CreateItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFAQServlet</servlet-name>
        <servlet-class>controller.LoadFAQServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFAQItemServlet</servlet-name>
        <servlet-class>controller.LoadFAQItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FAQsDao</servlet-name>
        <servlet-class>dbaccess.FAQsDao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadItemServlet</servlet-name>
        <url-pattern>/LoadItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditItemServlet</servlet-name>
        <url-pattern>/EditItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItemServlet</servlet-name>
        <url-pattern>/UpdateItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCategoryServlet</servlet-name>
        <url-pattern>/LoadCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemServlet</servlet-name>
        <url-pattern>/DeleteItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateItemServlet</servlet-name>
        <url-pattern>/CreateItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFAQServlet</servlet-name>
        <url-pattern>/LoadFAQServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFAQItemServlet</servlet-name>
        <url-pattern>/LoadFAQItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FAQsDao</servlet-name>
        <url-pattern>/FAQsDao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
